$white: #fff;
$nav-item-bg: #4A77FA;
$dark-blue: #B1C1FA;
$light-blue: #ECF1FF;
$dark-yellow: #F7EAB8;
$light-yellow: #FFF9E8;
$dark-green: #BFE5DA;
$light-green:#ECFAF5;
$dark-pink: #F6C3E5;
$light-pink: #FCF2F9;
$dark-purple: #CECEEA;
$purple: #B0A7D4;
$input-color: #F1F5F9;
$border-color: #f1f1f1;